@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");


html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: "Source Code Pro", monospace;
    color: var(--txt-color);
}



.light-theme{
    --background:#f4f3f2;
    --theme-container:white;
    --txt-color:black;
    --theme-container-border: 1px solid #ccc;
    --date:gray;
    --tolbar-hover: #f0f0f0;
    --card-p:#444;
        
}

.dark-theme{
    --background:#1a1a1a;
    --theme-container:#1e1e1e;
    --txt-color:whitesmoke;
    --theme-container-border: none;
    --date:#888;
    --tolbar-hover: #292929;
    --card-p:#777;
}



::-webkit-scrollbar{
    width: 8px;
}   

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
       
  }

::-webkit-scrollbar-thumb{
   background-color: #888;	   
   border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

